@font-face {
  font-family: 'Karla';
  src: url('../fonts/karlaregular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/karlabold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}



